body{
	background: url(1.jpg);
	background-size: cover;
	font-family:Poppins;
	color: #fff;

}
ul{
	margin:0;
	padding:0;
	letter-spacing: 2px;
	list-style: none;
}
ul li{
	float: left;
	width:200px;
	height:40px;
	background-color: black;
	opacity:.8;
	line-height: 40px;
	text-align: center;
	font-size:20px;
	margin: 5px;
	cursor: pointer;
}
ul li a{
	text-decoration:none;
	color:white;
	display: block;
}
ul li a:hover{
	background:#5fa077;

}
/*TO hide the elements inside the ul li*/
ul li ul li{
	display: none;
}
/*To display the elements inside the ul li...*/
ul li:hover ul li{
	display: block;

}


























