body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background: #34495e;

}
/*Login garni ko paxadi bhayeko batta milauna ko laagi*/
.box{
	width:300px;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;

}
/*Login lekheko wala heading */ 
.box h1{
	color:white;
	text-transform: uppercase;
	font-weight:500;

}
/* Username and password bhako lai milauna lai..*/
.box input[type="text"],
 .box input[type="password"]{
	border:0;
	background: none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
}
/* Tyo username and password ko batta thulo and color change huni thichepaxi..*/
.box input[type="text"]:focus,
.box input[type="password"]:focus{
	width:280px;
	border-color:#3498db;

}

/* Login garni button lai milauni */
.box input[type="submit"]{
	border:0;
	background: none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #2ecc71;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
	/* Mouse hover garda esto click garni haat aaunxa.*/
	cursor:pointer;
}
/* background ma hover garda color change hunxa background ko*/
.box input[type="submit"]:hover{
	background: #2ecc71;
}